<h1>Listing notifications</h1>

<table class='table table-striped'>
  <tr>
    <th>Message</th>
    <th>Msg class</th>
    <th></th>
    <th></th>
    <th>Solved?</th>
  </tr>

<% @notifications.each do |notification| %>
  <tr>
    <td><%= notification.message %></td>
    <td><%= notification.msg_class %></td>
    <td><%= link_to 'Show', client_notification_path(notification.client, notification), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', [notification.client, notification], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    <td><%= link_to (notification.solved? ? "<i class='icon-ok'/>" : "<i class='icon-remove'/>").html_safe, client_notification_toggle_path(notification.client, notification), :method => :post %></td>
  </tr>
<% end %>
</table>

<br />